# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# Build directories
build/
dist/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Output files
*.doc
*.docx
*.html
*.pdf
*.jpg
*.png
*.mp4
*.md
*.xml
*.spec

# Do not ignore README.md
!README.md

# Do not ignore template files
!main_template.html
!step_template.html

# Environment variables
.env

# gdown cache
.gdown/

# Whisper model cache
.whisper/